{% extends 'base.html' %} {% block content %}
<div class="container mt-5">
  <div class="container mt-5 mb-5">
    <div class="card mb-4">
      <div class="card-header navbar text-white text-center fs-3 fw-bold">
        ตรวจสอบข้อมูล
      </div>
      <div class="card-body">
        <table class="table table-bordered" style="background-color: #f8f9fa">
          <tbody>
            <tr>
              <th style="width: 25%">วันที่แจ้งเหตุ</th>
              <td style="width: 75%">18 ธันวาคม พ.ศ.2567</td>
            </tr>
            <tr>
              <th style="width: 25%">รหัสประจำตัว</th>
              <td style="width: 75%">PM67001</td>
            </tr>
            <tr>
              <th style="width: 25%">ชื่อ - นามสกุล</th>
              <td style="width: 75%">นายทดสอบ งานรุ่งเรือง</td>
            </tr>
            <tr>
              <th style="width: 25%">วัน/เดือน/ปี เกิด</th>
              <td style="width: 75%">02/04/2557</td>
            </tr>
            <tr>
              <th style="width: 25%">อายุ</th>
              <td style="width: 75%">10 ปี</td>
            </tr>
            <tr>
              <th style="width: 25%">ที่อยู่</th>
              <td style="width: 75%">บ้านเลขที่ 123 หมู่ที่ 4 ตำบล...</td>
            </tr>
            <tr>
              <th style="width: 25%">เลขบัตรประจำตัวประชาชน</th>
              <td style="width: 75%">160990523571</td>
            </tr>
            <tr>
              <th style="width: 25%">โทรศัพท์ (1)</th>
              <td style="width: 75%">084-3696321</td>
            </tr>
            <tr>
              <th style="width: 25%">โทรศัพท์ (2)</th>
              <td style="width: 75%">085-4875434</td>
            </tr>
            <tr>
              <th style="width: 25%">ผู้บันทึกถ้อยคำ</th>
              <td style="width: 75%">เจ้าหน้าที่</td>
            </tr>
            <tr>
              <th style="width: 25%">ตำแหน่ง/หน่วยงาน</th>
              <td style="width: 75%">นักสังคมสงเคราะห์</td>
            </tr>
            <tr>
              <th style="width: 25%">ข้อเท็จจริง</th>
              <td style="width: 75%">
                จากการสอบถาม เด็กชายวรเทพ ภู่เทศ
                เล่าด้วยท่าทีหวาดกลัวและวิตกกังวล โดยให้ข้อมูลว่าเมื่อวันที่ 18
                ธันวาคม 2567 เวลาประมาณ 19:00 น. ขณะที่อยู่ที่บ้านกับมารดา
                พ่อเลี้ยง (นายดำรงค์ พุดซ้อน) กลับมาบ้านในสภาพมึนเมา
                ตะโกนต่อว่ามารดาของเด็กที่มาเปิดประตูช้า
                เมื่อเข้ามาในบ้านก็เริ่มพูดจา โวยวาย ด่าทอ
                และถามเด็กชายว่าทำไมไม่ช่วยแม่ทำงานบ้าน ซึ่งเด็กก็ตอบไปว่า
                กำลังทำการบ้าน ถ้าทำเสร็จแล้วจะไปช่วย
                ทำให้พ่อเลี้ยงเกิดความไม่พอใจและเริ่มทำร้ายร่างกาย ตบตีเด็ก
                ก่อนจับแขนเด็กเหวี่ยงไปกระแทกโต๊ะ
                เด็กเล่าว่าเขารู้สึกเจ็บและพยายามป้องกันตนเอง
                แต่พ่อเลี้ยงหยิบเข็มขัดมาฟาดที่ร่างกายอีกหลายครั้ง
                มารดาของเด็กพยายามเข้ามาห้าม
                แต่พ่อเลี้ยงกลับแสดงพฤติกรรมรุนแรงต่อมารดา ผลักเธอล้มลงพื้น
                พร้อมกับตะโกนด่าด้วยถ้อยคำหยาบคาย มารดาพยายามพาเด็กออกจากบ้าน
                วิ่งมาที่บ้านเพื่อนบ้านให้ช่วย ซึ่งพ่อเลี้ยงได้ตามมา
                แต่เนื่องจากบ้านเพื่อนบ้านมีคนหลายคน พ่อเลี้ยงจึงกลับบ้านไป
                หลังจากเหตุการณ์ดังกล่าว
                เด็กและมารดาตัดสินใจขอพักอาศัยที่บ้านเพื่อนบ้านใกล้เคียง
                แล้วตอนเช้าให้ช่วยพาตนเองและลูก มาสำนักงานพัฒนาสังคมฯ
                ในเช้าวันที่ 19 ธันวาคม 2567
                เด็กเล่าต่อว่าเหตุการณ์ในลักษณะนี้เกิดขึ้นซ้ำหลายครั้งในช่วงหลายเดือนที่ผ่านมา
                โดยมักเกิดเมื่อพ่อเลี้ยงอยู่ในสภาพมึนเมา
                เด็กแสดงความรู้สึกหวาดกลัวและไม่อยากกลับไปอยู่บ้านอีก
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="container mt-5 mb-5">
    {% for field_name, label in upload_labels.items %}
    <div class="card mb-3">
      <div class="card-header navbar text-white fs-4">{{ label }}</div>
      <div class="card-body text-center">
        <div style="display: flex; flex-direction: column; align-items: center">
          {% for image in images %} {% if image.field_name == field_name %}
          <div style="margin-bottom: 15px">
            <img
              src="data:image/jpeg;base64,{{ image.image_data }}"
              alt="{{ label }}"
              style="max-width: 150px; max-height: 150px; object-fit: contain"
            />
            <p class="text-center">{{ image.field_name }}</p>
          </div>
          {% endif %} {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="mt-4">
      <a href="{% url 'upload_view' %}" class="btn btn-warning me-2">แก้ไข</a>
      <a href="#" class="btn btn-success">ยืนยัน</a>
    </div>
  </div>
</div>
{% endblock %}
