{% extends 'base.html' %}
{% block content %}
<div class="container mt-5 mb-5">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field_name, label in upload_labels.items %}
    <div class="card mb-3">
      <div class="card-header navbar text-white fs-4">{{ label }}</div>
      <div class="card-body">
        <div class="mb-3">
          <label for="{{ field_name }}" class="form-label">เลือกไฟล์</label>
          <input
            type="file"
            class="form-control"
            id="{{ field_name }}"
            name="{{ field_name }}"
            onchange="previewImage(event, '{{ field_name }}')"
            accept="image/*"
          />
        </div>
      </div>
    </div>
    {% endfor %}
    <div>
      <a href="{% url 'add_data' %}" class="btn btn-secondary me-2">ย้อนกลับ</a>
      <button type="submit" formaction="{% url 'check_data' %}" class="btn btn-primary">ตรวจสอบข้อมูล</button>
    </div>
  </form>
</div>

<script>
  function previewImage(event, fieldName) {
    const input = event.target;
    const preview = document.getElementById(`preview_${fieldName}`);
    if (input.files && input.files[0]) {
      const reader = new FileReader();
      reader.onload = function (e) {
        preview.src = e.target.result;
        preview.style.display = 'block';
      };
      reader.readAsDataURL(input.files[0]);
    }
  }
</script>
{% endblock %}

